<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- URL zu http://ServerIP:Port/feed/dedicated-server-stats.xml?code=XYZ -->
    <add key="serverInfoXmlUrl" value="http://ServerIP:Port/feed/dedicated-server-stats.xml?code=XYZ"/>
    <!-- Basis-Verzeichnis wo der Server seine Mods zum Download anbietet. Public Download muss aktiviert sein. -->
    <!-- In der Regel http://ServerIP:Port/mods -->
    <!-- OHNE Slash am Ende! -->
    <add key="modBaseUrl" value="http://ServerIP:Port/mods"/>
  </appSettings>
</configuration>